.h-nav{
    display: flex;
    align-items: center;
    gap: 50px;
    height: 130px;
    h1{
        color: #448994;
        font-size: 42px;
        margin-left: 60px;
        margin-right: 60vw;
        &:hover{
            color: #4f9fad;
        }
    }
    h2{
        color: #fff;
        font-size: 20px;
        font-weight: 300;
        &:hover{
            color: #448994;
            font-size: 22px;
        }
    }
}

.home-site{
    padding-left: 10vw;
    padding-top: 80px;
    h1{
        font-size: 20px;
        font-weight: 400;
    }
    h2{
        font-size: 14px;
        font-weight: 300;
    }
}